<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Agregar Ingreso / Egreso</h4>
        <p class="card-description mb-4">Especifique el monto y el tipo</p>

        <form [formGroup]="incomeExpensesForm" (ngSubmit)="save()">
          <div class="form-group">
            <label for="description">Descripción</label>
            <input
              type="text"
              class="form-control"
              placeholder="Descripción"
              id="description"
              formControlName="description"
            />
          </div>

          <div class="form-group">
            <label for="amount">Monto</label>
            <input
              type="number"
              class="form-control"
              placeholder="Monto"
              id="amount"
              formControlName="amount"
            />
            <p>Debe de ser un monto positivo</p>
          </div>

          <div class="form-group">
            <label>Tipo</label>
            <br/>

            <button
              type="button"
              class="btn btn-primary btn-block"
              *ngIf="type === 'income'"
              (click)="type = 'expense'"
            >
              Ingreso
            </button>

            <button
              type="button"
              class="btn btn-warning btn-block"
              (click)="type = 'income'"
              *ngIf="type === 'expense'"
            >
              Egreso
            </button>
          </div>

          <hr/>
          <button [disabled]="incomeExpensesForm.invalid" type="submit" class="btn btn-success mr-2">
            <i class="fa fa-save"></i>
            Agregar
          </button>

          <!--
                <button disabled class="btn btn-success mr-2">
                  <i class="fa fa-spin fa-sync"></i>
                  Espere por favor...
                </button>
              -->

          <button type="reset" class="btn btn-light">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
