<nav class='sidebar sidebar-offcanvas'>
  <ul class='nav'>
    <li class='nav-item nav-profile'>
      <div class='nav-link'>
        <div class='user-wrapper'>
          <div class='profile-image'>
            <img alt='profile image' src='assets/images/faces/face1.jpg'>
          </div>

          <div class='text-wrapper'>
            <p class='profile-name'>{{currentUser}}</p>
            <div>
              <small class='designation text-muted'>Gerente</small>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class='nav-item' id='dashboard-tour'>
      <a class='nav-link' routerLink='/'>
        <i class='menu-icon fa fa-tachometer-alt'></i>
        <span class='menu-title'>Dashboard</span>
      </a>
    </li>

    <li class='nav-item' id='income-expense-tour'>
      <a class='nav-link' routerLink='/ingreso-egreso'>
        <i class='menu-icon fa fa-clipboard-list'></i>
        <span class='menu-title'>Ingresos y Egresos</span>
      </a>
    </li>

    <li class='nav-item' id='details-tour'>
      <a class='nav-link' routerLink='/detalles'>
        <i class='menu-icon fa fa-table'></i>
        <span class='menu-title'>Detalles</span>
      </a>
    </li>

    <li class='nav-item'>
      <a (click)='logout()' class='nav-link cursor'>
        <i class='menu-icon fa fa-sign-out-alt'></i>
        <span class='menu-title'>Cerrar sesión</span>
      </a>
    </li>

    <li class='nav-item'>
      <p (click)='takeTour()' class='nav-link cursor'>
        <i class='menu-icon fa fa-sign-out-alt'></i>
        <span class='menu-title'>Tomar tour</span>
      </p>
    </li>
  </ul>
</nav>
