<h2 class="text-center mb-4">Registro</h2>

<div class="auto-form-wrapper">
  <form action="#">
    <div class="form-group">
      <label class="label" for="email">Correo Electrónico</label>
      <div class="input-group">
        <input type="email" id="email" class="form-control" placeholder="correo@correo.com">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-check-circle"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="label" for="password">Contraseña</label>
      <div class="input-group">
        <input type="password" id="password" class="form-control" placeholder="Password">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-check-circle"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary submit-btn btn-block">Crear cuenta</button>
    </div>
    <div class="text-block text-center my-3">
      <span class="text-small font-weight-semibold">¿Ya tienes una cuenta?</span>
      <br>
      <a href="" class="text-black text-small">Inicia sesión</a>
    </div>
  </form>
</div>

