<div class="row justify-content-center">
  <div class="col-6 col-xl-4">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-money-bill-alt text-success icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Ingresos</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">
                {{ totalIncomes | currency }}
              </h3>
            </div>
          </div>
        </div>
<!--        <p class="text-muted mt-3 mb-0">-->
<!--          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65%-->
<!--          lower growth-->
<!--        </p>-->
      </div>
    </div>
  </div>

  <div class="col-6 col-xl-4">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-shipping-fast text-danger icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Egresos</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">
                {{ totalExpenses | currency }}
              </h3>
            </div>
          </div>
        </div>
<!--        <p class="text-muted mt-3 mb-0">-->
<!--          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65%-->
<!--          lower growth-->
<!--        </p>-->
      </div>
    </div>
  </div>

  <div class="col-6 col-xl-4 mt-xl-0 mt-4">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-building text-info icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Diferencia</p>
            <div class="fluid-container">
              <h3
                [ngClass]="{
                  'text-success': totalIncomes - totalExpenses >= 0,
                  'text-danger': totalIncomes - totalExpenses < 0
                }"
                class="font-weight-medium text-right mb-0"
              >
                {{ totalIncomes - totalExpenses | currency }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div
    class="col-12 col-lg-6 col-xxl-4 p-5"
    *ngIf="incomes > 0 || expenses > 0"
  >
    <div class="card card-statistics">
      <div class="card-body">
        <h1 class="card-title">Gráfica</h1>

        <canvas
          baseChart
          class="chart"
          [data]="doughnutChartData"
          type="doughnut"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>
